/* Global 
--------------------------------*/
p {
  background-color: yellow;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: red;
}

/* Header 
--------------------------------*/

/* Sidebar 
--------------------------------*/

/* Main content 
--------------------------------*/
div.special p {
  font-size: 16px;
}

/* Footer 
--------------------------------*/
